<div id="content">
<div id="title"><h1>People</h1></div> 
  <table id="people2">

    <% csv_table('people_lists.csv') do |row1| %>
    <tr>
      <% csv_table(row1['list']) do |row| %>
      <td><a href="<%= row['link'] %>" Title="<%= row['Name'] %>&#10;&#13;<%= row['Title'] %>&#10;&#13;"><img src = "images/<%= row['Image'] %>" alt="<%= row['Name'] %>,&nbsp;<%= row['Title'] %>" width="100" height="130" /></a></td>
      <% end %>
    </tr>
    <%end%>
    
    </table>      
</div>