<div id="content">
<div id="title"><h1>People</h1></div> 
  <p>(Click the names to know more)</p>
    <table id="people">
      <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Email address</th>
      </tr>
      <% csv_table('people.csv') do |row| %>
      <tr>
        <td><strong><%= row['Title'] %></strong></td>
        <td><a href="<%= row['link'] %>" class="navigation_black"> <%= row['Name'] %></a></td>
        <td><a href="mailto:<%= row['Email Address'] %>"><%= row['Email Address'] %></a></td>
      </tr>
      <% end %>
    </table>
</div>
