<div id="content">  <!--start of content div -->
<div id="content_publications">
<div id="publications_header"><!--start of publications_header div -->
 	<h3 id="publications_2011_header" onclick="showPublication('#publications_2011');">2011</h3>
 	<h3 id="publications_2010_header" onclick="showPublication('#publications_2010');">2010</h3>
 	<h3 id="publications_2009_header" onclick="showPublication('#publications_2009');">2009</h3>
 	<h3 id="publications_early_header" onclick="showPublication('#publications_early');">Earlier</h3>
</div><!--end of publications_header div -->

<div id="title"><h1>Publications &amp; Presentations</h1></div>

<div id="publications_list"><!--start of publications div -->

<div id="publications_2011"> <!--start div publication_2011 --> 	  
 	<ul>
   <% csv_table('publications_2011.csv') do |row| %>
    <li><%= row['Name'] %>&nbsp;(<%= row['Year'] %>)&nbsp;<%= row['Title'] %>
        <span class="journal"><%= row['Journal'] %></span>
        <%=row['Location']%>
        <% if row['Link'] != "" %>	  
 	  <div class="download_link">
 	  <a href="<%=row['Link']%>">Download &nbsp; <%=row['Type']%></a>
    </div><% end %>   
    </li>
   <% end %>
 </ul>
</div> <!--end div publication_2011 div -->


 	<div id="publications_2010"> <!--start of publication_2010 div -->
 	<ul>
   <% csv_table('publications_2010.csv') do |row| %>
    <li><%= row['Name'] %>&nbsp;(<%= row['Year'] %>)&nbsp;<%= row['Title'] %>
        <span class="journal"><%= row['Journal'] %></span>
        <%=row['Location']%>
        <% if row['Link'] != "" %>	  
 	  <div class="download_link">
 	  <a href="<%=row['Link']%>">Download &nbsp; <%=row['Type']%></a>
    </div><% end %>   
    </li>
   <% end %>
</ul>
</div> <!--end of publication_2010 div -->


 	<div id="publications_2009"> <!--start of publication_2009 div --> 	  
 	<ul>
   <% csv_table('publications_2009.csv') do |row| %>
    <li><%= row['Name'] %>&nbsp;(<%= row['Year'] %>)&nbsp;<%= row['Title'] %>
        <span class="journal"><%= row['Journal'] %></span>
        <%=row['Location']%>
        <% if row['Link'] != "" %>	  
 	  <div class="download_link">
 	  <a href="<%=row['Link']%>">Download &nbsp; <%=row['Type']%></a>
    </div><% end %>   
    </li>
   <% end %>
</ul>
</div> <!--end div publications_2009 -->

 	<div id="publications_early" > <!--start div publication_early--> 	  
 <ul>
   <% csv_table('publications_early.csv') do |row| %>
    <li><%= row['Name'] %>&nbsp;(<%= row['Year'] %>)&nbsp;<%= row['Title'] %>
        <span class="journal"><%= row['Journal'] %></span>
        <%=row['Location']%>
        <% if row['Link'] != "" %>	  
 	  <div class="download_link">
 	  <a href="<%=row['Link']%>">Download &nbsp; <%=row['Type']%></a>
    </div><% end %>   
    </li>
   <% end %>
</ul>
</div><!--end of publications_early div -->
</div><!--end of publications_list div -->
</div><!--end of content_publications div-->
</div><!--end of content div -->